* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

#double_section_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 98.7vw;
}
